@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{

    --font-destaque: 'Dancing Script', sans-serif;
    --cor-fundo: #E6DFD2;
    --cor-to-do: #ffff;
    --cor-padrao: #000000;
}   

* {
    margin: 0px;
    padding: 0px;
}

body, html{
    height: 100vh;
    background-color: var(--cor-fundo);
}


h1{
    font-family: var(--font-destaque);
    text-align: center;
    padding: 20px;
    font-size: 3.5vw;
}

section{

    width: 55vw;
    background-color: white;
    margin: 35px auto;
    border-radius: 15px;
    padding: 15px;
    
}
 
input[type=text]{
   
    
    width: 80%;
    height: 30px;
    margin: 15px;
    background: #FFFFFF;
    border-radius: 2px;

}

input[type=button]{
    
    width: 54px;
    height: 35px;
    background: #E6DFD2;
    border: 1px solid #000000;
    border-radius: 2px;

}


input[type="checkbox"]{

    appearance: none;
    /*position: relative;
    top: 5px;
    bottom: 5px;
    */
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border: 0.15em solid black;
    border-radius: 0.15em;
    cursor: pointer;
    margin: 0;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before{
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--cor-padrao);
}


input[type="checkbox"]:checked::before{
    
    transform: scale(1);
}


#todolist{

    position: relative;
}

#todolist button{
    position: relative;
    right: 5px;
    
}




